MONGO_USERNAME=your_actual_username
MONGO_PASSWORD=your_actual_password
MONGO_URI=your_actual_mongodb_uri

PORT=5000

# JWT
JWT_SECRET=your_actual_long_random_secret

# Frontend
CLIENT_URL=http://localhost:5173

# Environment
NODE_ENV=development

# Email
EMAIL_USER=your_actual_gmail@gmail.com
EMAIL_PASSWORD=your_actual_google_app_password